@font-face {
    font-family: 'BYekan';
    src: url('BYekan.woff');
}

body{
    padding: 30px;
}

.note p{
    font-family: 'BYekan';
    font-size: 25px;
    color: #7a7979;
    margin-right: 6px;
}

.note i{
    font-size: 27px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}